.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(40, 40, 40, 0.5);
    border-radius: 1rem;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.container:hover  {
    opacity: 1;
}

.icon {
    min-width: 4rem;
    min-height: 4rem;
}
