@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 480px;
    background-color: rgba(116, 103, 148, 1);
    /* background-color: #746794; */
}

.heading {
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    color: rgba(116, 103, 148, 1);
    /* Ustawiamy kolor tekstu na transparentny, aby go ukryć */
    text-shadow: 0 0 0 rgb(78, 70, 99);
    /* Dodajemy cień o kolorze tła */
    animation: reveal 6s ease-in-out 1 forwards;
    /* Dodajemy animację odsłaniania tekstu */
}

@keyframes reveal {
    0% {
        text-shadow: 0 0 0 rgba(78, 70, 99);
        /* Tekst niewidoczny */
    }

    100% {
        text-shadow: 0 0 4px rgba(78, 70, 99);
        /* Tekst staje się widoczny */
    }
}