.container {
    position: relative;
    width: 100%;
    padding: 2rem 0.5rem;
}

.navigation_trick_element {
    position: absolute;
    top: -60px;
}

.slider {
    margin: 1rem auto;
    width: 80%;
}

.slide {
    padding: 0 0.5rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.slide:hover {
    opacity: 1;
}

.image {
    width: 100%;
}

:global .slick-arrow::before {
    color: var(--icon-stroke-color);
}

:global .slick-prev,
:global .slick-next {
    top: 44%;
}

:global .slick-dots {
    bottom: -1rem;
}

:global .slick-dots li button::before,
:global .slick-dots li.slick-active button::before {
    color: var(--icon-stroke-color);
}

@media (min-width: 400px) {
    .container {
        padding: 2rem 1rem;
    }

    .slider {
        width: 88%;
    }

    :global .slick-dots {
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .slide {
        padding: 1rem;
    }

    :global .slick-dots {
        bottom: 2rem;
    }
}

@media (min-width: 1440px) {
    .slider {
        width: 72%;
    }

    .slide {
        padding: 2rem;
    }

    :global .slick-dots {
        bottom: 4rem;
    }
}