/* .container {
    margin: 2rem auto;
    width: 100%;
    min-height: 400px;
    background-color: #444;
}

.slider {
    width: 80%;
    margin: 1rem auto;
} */

/* .image_container {
    padding: 1rem;
} */

/* .image {
    max-height: 400px;
} */
