.container {
    display: flex;
    align-self: flex-end;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .container {
        width: 36%;
    }
}