.container_external {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    backdrop-filter: blur(4px);
    z-index: 1;
}

/* .container_external.scrolled {
    background-color: rgba(17, 17, 17, 0.7);
    backdrop-filter: blur(4px);
} */

.container {
    margin: 1rem 2rem;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        width: 28%;
    }
}