.accordion {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.accordion ul {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.accordion ul li {
    flex: 1;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    position: relative;
}

.accordion ul li div {
    overflow: hidden;
}

.accordion ul li div a {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-20px);
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
}

.accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
}

.accordion ul li:nth-child(1) {
    background-image: url("../../../public/assets/florian-olivo-code-screen-unsplash.jpg");
}

.accordion ul li:nth-child(2) {
    background-image: url("../../../public/assets/rahul-mishra-code-screen-unsplash.jpg");
}

.accordion ul li:nth-child(3) {
    background-image: url("../../../public/assets/s-tsuchiya-rubber-duck-unsplash.jpg");
}

.accordion:hover ul li {
    flex: 0.8; /* Adjust the flex value as needed */
}

.accordion ul li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul li:hover a * {
    opacity: 1;
    transform: translateX(0);
}
