.container {
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 4px 4px 8px #000;        
    transition: background-color 0.3s ease;
}

.container:hover {
    background-color: #141414;
}

.heading {
    font-size: 1.75rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    opacity: 0.4;
    transition: opacity 0.5s;
}

.image:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .container {
        margin: 0 1rem;
    }    
}

@media (min-width: 1024px) {
    .container {
        flex: 1;
    }    
}
